<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" routerDirection="backward"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
    </div>
</ion-header>

<ion-content>
    @for (notification of notifications; track $index; let i = $index;) {
    <ion-item lines="none">
        <div class="flex items-center gap-2 py-4">
            <div class="avatar">
                <div class="w-12 rounded-full">
                    <img [src]="notification.avatar" />
                </div>
            </div>
            <div>
                <div class="font-semibold">
                    {{notification.title}}
                </div>
                <div class="text-sm text-secondary">
                    {{notification.subtitle}}
                </div>
            </div>
        </div>

        <div class="flex items-center gap-2 py-2" slot="end">
            <div class="avatar">
                <div class="mask mask-squircle w-16">
                    <img [src]="notification.thumbnail" />
                </div>
            </div>
            <ion-buttons>
                <ion-button id="menu_{{i}}">
                    <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-action-sheet trigger="menu_{{i}}" header="{{'notification' | transloco | capitalize}}"
                    [buttons]="actionSheetButtons"></ion-action-sheet>
            </ion-buttons>
        </div>
    </ion-item>
    }
</ion-content>