<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start">
            <ion-buttons class="animate-fade-up animate-duration-300">
                <ion-button [routerLink]="['../']" routerDirection="backward">
                    <ion-icon name="arrow-back-sharp" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
        <div class="navbar-center">
            <ion-title>
                {{'theme configurator' | transloco | capitalize}}
            </ion-title>
        </div>
    </div>
</ion-header>
<ion-content>
    <div class="flex p-2 w-full">
        <div class="join join-vertical w-full">
            @for (theme of themes; track $index) {
            <input type="radio" name="theme-buttons" class="btn theme-controller join-item w-full"
                [ariaLabel]="theme | transloco | capitalize" value="{{theme}}" />
            }
        </div>
    </div>
</ion-content>