<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start">
            <ion-buttons class="animate-fade-up animate-duration-300">
                <ion-button [routerLink]="['../']" routerDirection="backward">
                    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
        <div class="navbar-center">
            <ion-title>
                {{'theme configurator' | transloco | capitalize}}
            </ion-title>
        </div>
    </div>
</ion-header>
<ion-content>
    <div class="join join-vertical w-full">
        @for (theme of themes; track $index) {
        <div
            class="join-item flex items-center w-full justify-between py-4 px-2 animate-fade-left animate-duration-300">
            <label class="flex items-center w-full" for="theme_{{theme}}">
                <span class="text-primary">
                    {{theme | transloco | capitalize}}
                </span>
            </label>
            <input (change)="onChange($event)" id="theme_{{theme}}" type="radio" name="theme-radios" class="radio ml-auto" value="{{theme}}" />
        </div>
        }
    </div>
</ion-content>