<ion-content>
    <ion-item lines="none">
        <ion-avatar>
            <img src="assets/icon/favicon.png" alt="" srcset="">
        </ion-avatar>
    </ion-item>
    <ion-item lines="none">
        <h1 class="text-2xl font-semibold py-4">
            {{'sign up' | transloco | capitalize}}
        </h1>
    </ion-item>
    <form [formGroup]="form">
        <div class="w-full p-2">
            <label class="w-full input input-bordered flex items-center gap-2">
                <ion-icon name="person"></ion-icon>
                <input formControlName="email" type="email" class="grow"
                    placeholder="{{'email' | transloco | capitalize}}">
            </label>
        </div>

        <div class="w-full p-2">
            <label class="w-full input input-bordered flex items-center gap-2">
                <ion-icon name="key"></ion-icon>
                <input formControlName="password" type="password" name="" id="" class="grow"
                    placeholder="{{'password' | transloco | capitalize}}">
            </label>
        </div>

        <div class="w-full p-2">
            <label class="w-full input input-bordered flex items-center gap-2">
                <ion-icon name="key"></ion-icon>
                <input formControlName="confirmPassword" type="password" name="" id="" class="grow"
                    placeholder="{{'confirm password' | transloco | capitalize}}">
            </label>
        </div>

    </form>
    <div class="w-full flex flex-col gap-2 p-2">
        <button class="btn btn-primary w-full">
            {{'sign up' | transloco | capitalize}}
        </button>
        <button [routerLink]="['/sign-in']" class="btn btn-secondary w-full">
            {{'sign in' | transloco | capitalize}}
        </button>
    </div>
</ion-content>