<ion-content>
    <div class="flex gap-2 p-2">
        <div class="avatar">
            <div class="w-12 h-12 rounded-full">
                @if (user.avatar) {
                <img [src]="user.avatar">
                }
                @else {
                <div class="skeleton w-full h-full"></div>
                }
            </div>
        </div>
        <textarea class="textarea w-full"
            placeholder="{{'what your feeling today' | transloco | capitalize}}"></textarea>
        <button class="btn btn-circle btn-ghost text-base-content">
            <ion-icon name="images" size="large"></ion-icon>
        </button>
    </div>
</ion-content>