<ion-content>
    <div class="flex gap-2 p-2">
        <div class="avatar">
            <div class="w-12 h-12 rounded-full">
                @if (user.avatar) {
                <img [src]="user.avatar">
                }
                @else {
                <div class="skeleton w-full h-full"></div>
                }
            </div>
        </div>
        <textarea class="textarea w-full"
            placeholder="{{'what your feeling today' | transloco | capitalize}}"></textarea>
        <button class="btn btn-circle btn-ghost text-base-content">
            <ion-icon name="images" size="large"></ion-icon>
        </button>
    </div>

    @for (post of posts; track $index) {
    <div class="bg-base-100 py-2 mb-2">
        <div class="flex items-center px-2 gap-2">
            <div class="avatar">
                <div class="w-12 h-12 rounded-full">
                    @if (post.avatar) {
                    <img [src]="post.avatar">
                    }
                    @else {
                    <div class="skeleton w-full h-full"></div>
                    }
                </div>
            </div>
            <div>
                @if (post.fullname) {
                <div class="font-semibold line-clamp-1">
                    {{post.fullname}}
                </div>
                }
                @else {
                <div class="skeleton w-48 h-4"></div>
                }

                @if (post.createdDate) {
                <div class="font-thin text-sm">
                    {{post.createdDate | uploadTime}}
                </div>
                }
                @else {
                <div class="skeleton w-16 h-4"></div>
                }
            </div>
            <div class="ml-auto flex items-center gap-2">
                <button class="btn btn-circle btn-ghost text-base-content">
                    <ion-icon name="ellipsis-vertical" size="large"></ion-icon>
                </button>
                <button class="btn btn-circle btn-ghost text-base-content">
                    <ion-icon name="close" size="large"></ion-icon>
                </button>
            </div>
        </div>
        @if (post.content) {
        <div class="p-2 whitespace-normal">
            {{post.content}}
        </div>
        }
        @if (post.thumbnail) {
        <div class="relative aspect-auto bg-contain overflow-hidden">
            <img [src]="post.thumbnail">
        </div>
        }
        @else if (post.images) {
        <div class="aspect-auto stack">
            @for (image of post.images; track $index) {
            <div class="relative aspect-auto bg-contain overflow-hidden">
                <img [src]="image">
            </div>
            }
        </div>
        }
        <div class="flex items-center px-2 gap-2 py-2">
            @for (emoji of emojis(post.likes); track $index) {
            <div>
                {{emoji}}
            </div>
            }
            <div class="text-base-content">
                {{post.likes?.length| abbreviate}}
            </div>
            <div class="ml-auto lowercase text-base-content">
                {{post.comments?.length | abbreviate}} {{'comments' | transloco}}
            </div>
            <div class="lowercase text-base-content">
                {{post.shares?.length | abbreviate}} {{'shares' | transloco}}
            </div>
        </div>
        <div class="flex items-center gap-2 px-2">
            <button class="btn btn-ghost capitalize">
                <ion-icon name="thumbs-up"></ion-icon>
                {{'like' | transloco}}
            </button>
            <button class="btn btn-ghost capitalize">
                <ion-icon name="chatbubble"></ion-icon>
                {{'comment' | transloco}}
            </button>
            <button class="ml-auto btn btn-ghost capitalize">
                <ion-icon name="arrow-redo"></ion-icon>
                {{'share' | transloco}}
            </button>
        </div>
    </div>
    }

</ion-content>