<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'profile' | transloco | capitalize}}
        </ion-title>
        <ion-button (click)="update()" slot="end" fill="clear">
            {{'save' | transloco | capitalize}}
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item lines="none">
            <div class="flex items-center w-32 h-32">
                @if (form.get('avatar')?.value) {
                <img [src]="form.get('avatar')?.value" [alt]="form.get('avatar')?.value"
                    class="w-full h-full rounded-full">
                }
                @else {
                <ion-skeleton-text [animated]="true">
                </ion-skeleton-text>
                }

                @if (!isMobile) {
                <div class="absolute top-0 w-32 h-32 flex items-center justify-center" (click)="requestPhoto()">
                    <ion-icon name="image" size="large" slot="icon-only"></ion-icon>
                </div>
                }

                @if (isMobile) {
                <div class="absolute top-0 w-32 h-32 flex items-center justify-center" (click)="requestCamera()">
                    <ion-icon name="camera" size="large" slot="icon-only"></ion-icon>
                </div>
                }
            </div>
            <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                    <ion-header>
                        <ion-toolbar>
                            <ion-buttons slot="start">
                                <ion-button (click)="isModalOpen = false;">
                                    {{'cancel' | transloco | capitalize}}
                                </ion-button>
                            </ion-buttons>
                            <ion-title>
                                {{'edit avatar' | transloco | capitalize}}
                            </ion-title>
                            <ion-buttons slot="end">
                                <ion-button (click)="isModalOpen = false; changeAvatar();">
                                    {{'save' | transloco | capitalize}}
                                </ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-header>
                    <ion-content>
                        <div class="flex w-full justify-center">
                            <ion-avatar class="w-32 h-32">
                                @if (base64Image) {
                                <img [src]="base64Image" [alt]="base64Image" class="h-full">
                                }
                            </ion-avatar>
                        </div>
                    </ion-content>
                </ng-template>
            </ion-modal>
        </ion-item>
        <form [formGroup]="form">
            <ion-item class="mt-2">
                <ion-input formControlName="email" label="{{'email' | transloco | capitalize}}"
                    placeholder="{{'email@email.com' | transloco | capitalize}}" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input formControlName="fullname" label="{{'fullname' | transloco | capitalize}}"
                    placeholder="{{'fullname' | transloco | capitalize}}" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input formControlName="phone" label="{{'phone' | transloco | capitalize}}"
                    placeholder="{{'phone' | transloco | capitalize}}" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input formControlName="address" label="{{'address' | transloco | capitalize}}"
                    placeholder="{{'address' | transloco | capitalize}}" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input formControlName="city" label="{{'city' | transloco | capitalize}}"
                    placeholder="{{'city' | transloco | capitalize}}" labelPlacement="stacked"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input formControlName="country" label="{{'country' | transloco | capitalize}}"
                    placeholder="{{'country' | transloco | capitalize}}" labelPlacement="stacked"></ion-input>
            </ion-item>
        </form>

    </ion-list>


</ion-content>