<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" routerDirection="backward"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        <div class="navbar-center">
            <ion-title class="text-primary-content">
                {{'profile' | transloco | capitalize}}
            </ion-title>
        </div>
        <div class="navbar-end animate-fade-up animate-duration-300">
            <button (click)="update()" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="checkmark" size="large"></ion-icon>
            </button>
        </div>
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="w-full flex px-2 py-4">
        <div class="relative w-32 h-32">
            @if (form.get('avatar')?.value) {
            <img [src]="form.get('avatar')?.value" [alt]="form.get('avatar')?.value" class="w-full h-full rounded-full">
            }
            @else {
            <ion-skeleton-text [animated]="true">
            </ion-skeleton-text>
            }
            @if (!isMobile) {
            <div class="absolute top-0 w-32 h-32 flex items-center justify-center cursor-pointer"
                (click)="requestPhoto()">
                <ion-icon name="image" size="large" slot="icon-only"></ion-icon>
            </div>
            }
            @if (isMobile) {
            <div class="absolute top-0 w-32 h-32 flex items-center justify-center cursor-pointer"
                (click)="requestCamera()">
                <ion-icon name="camera" size="large" slot="icon-only"></ion-icon>
            </div>
            }
        </div>
    </div>

    <dialog #modal class="modal">
        <div class="modal-box">
            <div class="flex justify-center w-full">
                <div class="avatar">
                    <div class="w-64 rounded-full">
                        <img src="{{base64Image}}" />
                    </div>
                </div>
            </div>
            <div class="modal-action">
                <form method="dialog" class="flex items-center gap-2">
                    <ion-button color="secondary" (click)="modal.close()">
                        {{'cancel' | transloco | capitalize}}
                    </ion-button>
                    <ion-button color="primary" (click)="modal.close(); changeAvatar()">
                        {{'save' | transloco | capitalize}}
                    </ion-button>
                </form>
            </div>
        </div>
    </dialog>
    <form [formGroup]="form" class="animate-fade-left animate-duration-300">
        <div class="w-full px-2 py-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'email' | transloco}}
                </span>
                <input type="email" formControlName="email" placeholder="{{'type here' | transloco | capitalize}}" />
            </label>
        </div>

        <div class="w-full px-2 py-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'fullname' | transloco}}
                </span>
                <input type="fullname" formControlName="fullname"
                    placeholder="{{'type here' | transloco | capitalize}}" />
            </label>
        </div>

        <div class="w-full px-2 py-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'phone' | transloco}}
                </span>
                <input type="text" formControlName="phone" placeholder="{{'type here' | transloco | capitalize}}" />
            </label>
        </div>

        <div class="w-full px-2 py-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'address' | transloco}}
                </span>
                <input type="text" formControlName="address" placeholder="{{'type here' | transloco | capitalize}}" />
            </label>
        </div>

        <div class="w-full px-2 py-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'city' | transloco}}
                </span>
                <input type="text" formControlName="city" placeholder="{{'type here' | transloco | capitalize}}" />
            </label>
        </div>

        <div class="w-full px-2 py-4">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'country' | transloco}}
                </span>
                <input type="text" formControlName="country" placeholder="{{'type here' | transloco | capitalize}}" />
            </label>
        </div>
    </form>
</ion-content>