<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
            @if (displayType =='list') {
            <ion-button (click)="displayType = 'grid';">
                <ion-icon name="grid" slot="icon-only"></ion-icon>
            </ion-button>
            }
            @if (displayType =='grid') {
            <ion-button (click)="displayType = 'list';">
                <ion-icon name="list" slot="icon-only"></ion-icon>
            </ion-button>
            }
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    @if (displayType == 'grid') {
    <div class="grid grid-cols-3 md:flex md:flex-wrap">
        @if (folders && folders.length) {
        @for (folder of folders; track $index) {
        <ion-card class="w-32 animate-fade-up animate-duration-300" [routerLink]="['../', folder.id]">
            <ion-card-content>
                <div class="flex flex-col w-full justify-center">
                    <ion-icon name="folder" size="large"></ion-icon>
                    <div class="font-semibold truncate mt-4">
                        {{folder.name}}
                    </div>
                    <div>
                        {{folder.contents}}
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
        }
        }
        @if (files && files.length) {
        @for (file of files; track $index) {
        <ion-card class="w-32 animate-fade-up animate-duration-300">
            <ion-card-content>
                <div class="flex flex-col w-full justify-center">
                    <div class="indicator">
                        <span class="indicator-item badge badge-secondary">
                            {{file.type}}
                        </span>
                        <ion-icon name="document" size="large">
                        </ion-icon>
                    </div>
                    <div class="truncate mt-4">
                        {{file.name}}
                    </div>
                    <div>
                        {{file.size}}
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
        }
        }
    </div>
    }

    @if (displayType == 'list') {
    <ion-list>
        @for (folder of folders; track $index) {
        <ion-item-sliding class="animate-fade-left  animate-duration-300">
            <ion-item-options side="start">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="archive"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item [routerLink]="['../', folder.id]">
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-center gap-2">
                        <ion-icon name="folder"></ion-icon>
                        <div class="truncate">
                            {{folder.name}}
                        </div>
                    </div>
                    <div>
                        {{folder.contents}}
                    </div>
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="information"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        }

        @for (file of files; track $index) {
        <ion-item-sliding class="animate-fade-left  animate-duration-300">
            <ion-item-options side="start">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="archive"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item>
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-center gap-2">
                        <div class="badge badge-secondary">
                            {{file.type}}
                        </div>
                        <div class="truncate">
                            {{file.name}}
                        </div>
                    </div>
                    <div>
                        {{file.size}}
                    </div>
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="information"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        }
    </ion-list>
    }
</ion-content>