<ion-header>

    <div class="navbar bg-primary">
        <div class="navbar-start">
            <ion-buttons>
                <ion-button [routerLink]="['../../']" class="animate-fade-up animate-duration-300">
                    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
        @if (course) {
        <div class="navbar-center">
            <ion-title>
                {{course.title | transloco | capitalize}}
            </ion-title>
        </div>
        }
        <div class="navbar-end">
            <ion-buttons>
                <ion-button class="animate-fade-up animate-duration-300">
                    <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </div>
</ion-header>
<ion-content class="ion-padding">
    <div [innerHTML]="steps[currentStep].content">
    </div>
</ion-content>
<ion-footer id="main-content">
    <ion-progress-bar [value]="((currentStep + 1) / (course.totalSteps ?? 1))"></ion-progress-bar>
    <div class="navbar bg-primary">
        <div class="navbar-start">
            <ion-buttons (click)="menuController.open()">
                <ion-menu-button class="animate-fade-up animate-duration-300"></ion-menu-button>
            </ion-buttons>
            <ion-label>
                {{currentStep + 1}}/{{course.totalSteps ?? 1}}
            </ion-label>
        </div>
        <div class="navbar-end">
            <ion-buttons>
                <ion-button [routerLink]="['../', currentStep - 1]" routerDirection="forward"
                    [disabled]="currentStep <= 0" class="animate-fade-up animate-duration-300">
                    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button [routerLink]="['../', currentStep + 1]" routerDirection="forward"
                    [disabled]="currentStep >= (course.totalSteps ?? 1) - 1"
                    class="animate-fade-up animate-duration-300">
                    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </div>
</ion-footer>

<ion-menu type="overlay" contentId="main-content">
    <ion-header>
        <div class="navbar bg-primary">
            <div class="navbar-start">
                <ion-buttons>
                    <ion-button [routerLink]="['../../']" routerDirection="backward"
                        class="animate-fade-up animate-duration-300">
                        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </div>
        </div>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="flex flex-col">
            @if (course.category) {
            <div>
                <ion-chip>
                    {{course.category | transloco | capitalize}}
                </ion-chip>
            </div>
            }
            @if (course.title) {
            <div class="text-xl font-semibold truncate mt-4">
                {{course.title | transloco | capitalize}}
            </div>
            }
            @if (course.description) {
            <div class="text-sm font-light line-clamp-3 mt-2">
                {{course.description | transloco | capitalize}}
            </div>
            }
            @if (course.duration) {
            <div class="flex items-center gap-2 text-sm font-light">
                <ion-icon name="time"></ion-icon>
                <span>
                    {{course.duration}} {{'minutes' | transloco}}
                </span>
            </div>
            }
        </div>
        @if (steps && steps.length > 0) {
        <div class="flex flex-col gap-4 py-4">
            @for (step of steps; track $index) {
            <div class="flex items-center">
                <div class="flex flex-col" [ngClass]="{'line-through text-slate-400': (step.order??0) < currentStep}">
                    <div class="font-semibold line-clamp-2">
                        {{step.title | transloco | capitalize}}
                    </div>
                    <div class="text-sm font-thin line-clamp-2">
                        {{step.subtitle| transloco | capitalize}}
                    </div>
                </div>
                <ion-button [routerLink]="['../', step.order]" routerDirection="forward" fill="clear" shape="round">
                    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
            }
        </div>
        }
    </ion-content>
</ion-menu>