<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../../']"
                class="btn btn-circle btn-ghost text-primary-content text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        @if (course) {
        <div class="navbar-center">
            <ion-title class="text-primary-content">
                {{course.title | transloco | capitalize}}
            </ion-title>
        </div>
        }
        <div class="navbar-end animate-fade-up animate-duration-30">
            <button class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="ellipsis-vertical" size="large"></ion-icon>
            </button>
        </div>
    </div>
</ion-header>
<ion-content class="ion-padding">
    <div [innerHTML]="steps[currentStep].content">
    </div>
</ion-content>
<ion-footer id="main-content">
    <progress class="progress progress-primary" [value]="currentStep + 1" [max]="(course.totalSteps ?? 1)"></progress>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button (click)="menuController.open(); changeDetectorRef.markForCheck();"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="menu" size="large"></ion-icon>
            </button>
            <ion-label class="text-primary-content">
                {{currentStep + 1}}/{{course.totalSteps ?? 1}}
            </ion-label>
        </div>
        <div class="navbar-end animate-fade-up animate-duration-300">
            <button [routerLink]="['../', currentStep - 1]" routerDirection="forward" [disabled]="currentStep <= 0"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
            <button [routerLink]="['../', currentStep + 1]" routerDirection="forward"
                [disabled]="currentStep >= (course.totalSteps ?? 1) - 1"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-forward" size="large"></ion-icon>
            </button>
        </div>
    </div>
</ion-footer>

<ion-menu type="overlay" contentId="main-content" (ionDidClose)="changeDetectorRef.markForCheck();">
    <ion-header>
        <div class="navbar bg-primary">
            <div class="navbar-start animate-fade-up animate-duration-300">
                <button [routerLink]="['../../']" class="btn btn-circle btn-ghost text-primary-content">
                    <ion-icon name="arrow-back" size="large"></ion-icon>
                </button>
            </div>
        </div>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="flex flex-col">
            @if (course.category) {
            <div class="badge badge-outline badge-primary">
                {{course.category | transloco | capitalize}}
            </div>
            }
            @if (course.title) {
            <div class="text-xl font-semibold line-clamp-1 mt-4">
                {{course.title | transloco | capitalize}}
            </div>
            }
            @if (course.description) {
            <div class="text-sm font-light line-clamp-2 mt-2">
                {{course.description | transloco | capitalize}}
            </div>
            }
            @if (course.duration) {
            <div class="flex items-center gap-2 text-sm font-light">
                <ion-icon name="time"></ion-icon>
                <span>
                    {{course.duration}} {{'minutes' | transloco}}
                </span>
            </div>
            }
        </div>
        @if (steps && steps.length > 0) {
        <div class="flex flex-col gap-4 py-4">
            @for (step of steps; track $index) {
            <div class="flex items-center">
                <div class="flex flex-col" [ngClass]="{'line-through text-slate-400': (step.order??0) < currentStep}">
                    <div class="font-semibold line-clamp-2">
                        {{step.title | transloco | capitalize}}
                    </div>
                    <div class="text-sm font-thin line-clamp-2">
                        {{step.subtitle| transloco | capitalize}}
                    </div>
                </div>
                <button [routerLink]="['../', step.order]" class="btn btn-circle btn-primary">
                    <ion-icon name="arrow-forward" size="large"></ion-icon>
                </button>
            </div>
            }
        </div>
        }
    </ion-content>
</ion-menu>