<ion-app>
    <ion-header>
        <div class="navbar bg-primary">
            <div class="navbar-start">
                <ion-buttons>
                    <ion-button [routerLink]="['/apps']">
                        <ion-icon slot="icon-only" name="home"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </div>
            @if (title) {
            <div class="navbar-center">
                <ion-title>{{title | transloco | capitalize}}</ion-title>
            </div>
            }
            <div class="navbar-end">
                <user></user>
            </div>
        </div>
    </ion-header>
    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>
</ion-app>