<ion-app>
    <ion-header>
        <div class="navbar bg-primary shadow-lg">
            <div class="navbar-start animate-fade-up animate-duration-300">
                <button [routerLink]="['/apps']" class="btn btn-circle btn-ghost text-primary-content">
                    <ion-icon size="large" name="home"></ion-icon>
                </button>
            </div>
            @if (title) {
            <div class="navbar-center animate-flip-up">
                <ion-title>{{title | transloco | capitalize}}</ion-title>
            </div>
            }
            <div class="navbar-end animate-fade-up animate-duration-300">
                <user></user>
            </div>
        </div>
    </ion-header>
    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>
</ion-app>