<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        <div class="navbar-end animate-fade-up animate-duration-300">
            @if (!addressBook) {
            <button (click)="create()" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="checkmark" size="large"></ion-icon>
            </button>
            }
            @else {
            <button (click)="update()" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="checkmark" size="large"></ion-icon>
            </button>
            }
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="w-full bg-base-100 px-2 py-4">
        <div class="flex w-32 h-32 rounded-md">
            @if (!form.get('avatar')?.value) {
            <ion-skeleton-text class="w-full h-full rounded-md" [animated]="true"></ion-skeleton-text>
            }
            @else {
            <img [src]="form.get('avatar')?.value" class="w-full h-full rounded-md">
            }

            @if (!form.get('avatar')?.value) {
            <div (click)="changeAvatar()" class="absolute top-0 w-32 h-32 flex items-center justify-center gap-2">
                <ion-icon name="camera" size="large" slot="icon-only"></ion-icon>
            </div>
            }
            @else {
            <div class="absolute top-0 w-32 h-32 flex items-center justify-center gap-2">
                <button (click)="changeAvatar()" class="btn btn-circle btn-ghost text-primary-content">
                    <ion-icon name="camera" size="large"></ion-icon>
                </button>

                @if (form.get('avatar')?.value) {
                <button (click)="removeAvatar()" class="btn btn-circle btn-ghost text-error">
                    <ion-icon name="trash" size="large"></ion-icon>
                </button>
                }
            </div>
            }
        </div>
    </div>

    <form [formGroup]="form">
        <div class="w-full bg-base-100 px-2 py-2">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'firstname' | transloco}}
                </span>
                <input formControlName="firstname" type="text" class="grow"
                    placeholder="{{'type here' | transloco  | capitalize}}">
            </label>
        </div>

        <div class="w-full bg-base-100 px-2 py-2">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'lastname' | transloco}}
                </span>
                <input formControlName="lastname" type="text" class="grow"
                    placeholder="{{'type here' | transloco  | capitalize}}">
            </label>
        </div>

        <div class="w-full bg-base-100 px-2 py-2">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'nickname' | transloco}}
                </span>
                <input formControlName="nickname" type="text" class="grow"
                    placeholder="{{'type here' | transloco  | capitalize}}">
            </label>
        </div>
        <div class="w-full bg-base-100">
            <div class="w-full flex items-center px-2">
                <span class="font-semibold capitalize">
                    {{'email' | transloco}}
                </span>
                <button (click)="addEmail()" class="ml-auto btn btn-circle btn-ghost text-primary">
                    <ion-icon name="add" size="large"></ion-icon>
                </button>
            </div>

            @for (email of getEmailsFormArray(); track $index; let i = $index;) {
            <div class="w-full bg-base-100 px-2 py-2">
                <label class="input input-bordered flex items-center gap-2">
                    <input [formControl]="email.get('email')" class="grow"
                        placeholder="{{'email' | transloco | capitalize}}" />
                    <button (click)="removeEmail(i)" class="ml-auto btn btn-circle btn-ghost text-primary">
                        <ion-icon name="close" size="large"></ion-icon>
                    </button>
                </label>
            </div>
            }
        </div>

        <div class="w-full bg-base-100">
            <div class="w-full flex items-center px-2">
                <span class="font-semibold capitalize">
                    {{'phones' | transloco}}
                </span>
                <button (click)="addPhone()" class="ml-auto btn btn-circle btn-ghost text-primary">
                    <ion-icon name="add" size="large"></ion-icon>
                </button>
            </div>

            @for (phone of getPhonesFormArray(); track $index; let i = $index;) {
            <div class="w-full bg-base-100 px-2 py-2">
                <label class="input input-bordered flex items-center gap-2">
                    <ion-select [formControl]="phone.get('code')" interface="action-sheet"
                        placeholder="{{'country' | transloco | capitalize}}">
                        @for (country of countries; track $index) {
                        <ion-select-option [value]="country.code">
                            {{country.name | transloco | capitalize}} (+{{country.code}})
                        </ion-select-option>
                        }
                    </ion-select>
                    <input [formControl]="phone.get('number')" class="grow"
                        placeholder="{{'phone number' | transloco | capitalize}}" />
                    <button (click)="removePhone(i)" class="ml-auto btn btn-circle btn-ghost text-primary">
                        <ion-icon name="close" size="large"></ion-icon>
                    </button>
                </label>
            </div>
            }
        </div>

        <div class="w-full bg-base-100 px-2 py-2">
            <label class="input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'address' | transloco}}
                </span>
                <input formControlName="address" type="text" class="grow"
                    placeholder="{{'type here' | transloco  | capitalize}}">
            </label>
        </div>

        <div class="w-full bg-base-100 px-2 py-2">
            <label class="w-full input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'city' | transloco}}
                </span>
                <input formControlName="city" type="text" class="grow"
                    placeholder="{{'type here' | transloco  | capitalize}}">
            </label>
        </div>

        <div class="w-full bg-base-100 px-2 py-2">
            <label class="w-full input input-bordered flex items-center gap-2">
                <span class="capitalize font-semibold min-w-24">
                    {{'country' | transloco}}
                </span>
                <ion-select formControlName="country" [selectedText]="form.get('country')?.value?.name"
                    interface="action-sheet">
                    @for (country of countries; track $index) {
                    <ion-select-option [value]="country">
                        {{country.name | transloco | capitalize}}
                    </ion-select-option>
                    }
                </ion-select>
            </label>
        </div>
    </form>
</ion-content>