<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                {{'edit' | transloco | capitalize}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    @if (addressBook) {
    <ion-list>
        <ion-item lines="none" class="mt-2">
            <div class="flex items-start gap-2">
                <div class="flex w-32 h-32 rounded-md">
                    @if (!addressBook.avatar) {
                    <ion-skeleton-text class="w-full h-full rounded-md" [animated]="true"></ion-skeleton-text>
                    }
                    @else {
                    <img [src]="addressBook.avatar" class="w-full h-full rounded-md">
                    }
                </div>

                <div class="flex flex-col">
                    <div class="flex items-center font-semibold gap-2 flex-wrap">
                        <div>
                            {{addressBook.firstname}}
                        </div>

                        <div>
                            {{addressBook.lastname}}
                        </div>
                    </div>
                    @if (addressBook.address) {
                    <div class="text-sm truncate">
                        {{addressBook.address}}
                    </div>
                    }
                    @if (addressBook.city) {
                    <div class="text-sm truncate">
                        {{addressBook.city}}
                    </div>
                    }
                    @if (addressBook.country) {
                    <div class="text-sm truncate">
                        {{addressBook.country.name | transloco | capitalize}}
                    </div>
                    }
                </div>
            </div>
        </ion-item>
    </ion-list>
    }
</ion-content>