<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        <div class="navbar-end animate-fade-up animate-duration-300">
            <button [routerLink]="['./edit']" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="create" size="large"></ion-icon>
            </button>
        </div>
    </div>
</ion-header>

<ion-content>
    @if (addressBook) {
    <ion-item lines="none" class="mt-2">
        <div class="flex items-start gap-2">
            <div class="flex w-32 h-32 rounded-md">
                @if (!addressBook.avatar) {
                <ion-skeleton-text class="w-full h-full rounded-md" [animated]="true"></ion-skeleton-text>
                }
                @else {
                <img [src]="addressBook.avatar" class="w-full h-full rounded-md">
                }
            </div>

            <div class="flex flex-col">
                <div class="flex items-center font-semibold gap-2 flex-wrap">
                    <div>
                        {{addressBook.firstname}}
                    </div>

                    <div>
                        {{addressBook.lastname}}
                    </div>
                </div>
                @if (addressBook.address) {
                <div class="text-sm truncate">
                    {{addressBook.address}}
                </div>
                }
                @if (addressBook.city) {
                <div class="text-sm truncate">
                    {{addressBook.city}}
                </div>
                }
                @if (addressBook.country) {
                <div class="text-sm truncate">
                    {{addressBook.country.name | transloco | capitalize}}
                </div>
                }
            </div>
        </div>
    </ion-item>

    <ion-item-divider class="mt-4">
        {{'email' | transloco | capitalize}}
    </ion-item-divider>

    @for (email of addressBook.emails; track $index) {
    <ion-item lines="none" class="mt-2">
        <ion-icon name="mail" class="text-primary"></ion-icon>
        <ion-label class="ml-2">
            {{email.email}}
        </ion-label>
    </ion-item>
    }

    <ion-item-divider class="mt-4">
        {{'phone' | transloco | capitalize}}
    </ion-item-divider>

    @for (phone of addressBook.phones; track $index) {
    <ion-item lines="none" class="mt-2">
        <ion-icon name="call" class="text-primary"></ion-icon>
        <ion-label class="ml-2">
            (+{{phone.code}}) {{phone.number}}
        </ion-label>
    </ion-item>
    }
    }
</ion-content>