<ion-content>
    @if (courses && courses.length) {
    <div class="flex flex-col md:flex-wrap">
        @for (course of courses; track $index) {
        <ion-card class="bg-base-100">
            <ion-card-header>
                <div class="flex items-center justify-between">
                    <div class="badge badge-outline badge-primary">
                        {{course.category | transloco | capitalize}}
                    </div>

                    @if (course.progress?.completed) {
                    <button class="btn btn-circle btn-success btn-outline">
                        <ion-icon name="checkmark" size="large"></ion-icon>
                    </button>
                    }
                </div>
                <ion-card-title class="text-primary">
                    {{course.title}}
                </ion-card-title>
                <ion-card-subtitle>
                    {{course.description}}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <div class="flex flex-col">
                    <div class="flex items-center gap-2">
                        <ion-icon name="time"></ion-icon>
                        <div>
                            {{course.duration}} {{'minutes' | transloco | lowercase}}
                        </div>
                    </div>

                    <div class="flex items-center gap-2">
                        <ion-icon name="school"></ion-icon>
                        <div>
                            {{course.progress?.completed}} {{'times' | transloco | lowercase}}
                        </div>
                    </div>

                    <div class="my-2">
                        <progress class="progress progress-primary" [value]="(course.progress?.currentStep ?? 0)"
                            [max]="(course.totalSteps ??1)"></progress>
                    </div>

                    <div class="my-2">
                        <button [routerLink]="['./', course.id]" class="btn btn-primary text-primary-content">
                            <div>
                                {{'continue' | transloco | capitalize}}
                            </div>
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
        }
    </div>
    }
</ion-content>