<ion-content>
    <div class="w-full flex px-2 py-4 justify-center">
        <ion-avatar>
            <img src="assets/icon/favicon.png" alt="" srcset="">
        </ion-avatar>
    </div>
    <div class="w-full flex justify-center px-2">
        <h1 class="text-2xl font-semibold">
            {{'welcome back' | transloco | capitalize}}
        </h1>
    </div>

    <div class="w-full flex px-2 py-4 justify-center items-center gap-2">
        <span class="">
            {{'dont have an account yet' | transloco | capitalize}}
        </span>
        <a [routerLink]="['../sign-up']" class="font-semibold text-primary">
            {{'sign up here' | transloco | capitalize}}
        </a>
    </div>

    <div class="flex flex-col w-full p-2 gap-2">
        <button class="btn border w-full">
            <ion-icon name="logo-google"></ion-icon>
            <span>
                {{'sign in with Google' | transloco | capitalize}}
            </span>
        </button>
    </div>

    <div class="px-2">
        <div class="divider">
            {{'or' | transloco | capitalize}}
        </div>
    </div>

    <form [formGroup]="form">
        <div class="w-full p-2">
            <div class="label">
                <span class="label-text">
                    {{'email' | transloco | capitalize}}
                </span>
            </div>
            <label class="input input-bordered w-full flex items-center gap-2">
                <ion-icon name="person"></ion-icon>
                <input formControlName="email" type="email" placeholder="{{'email@email.com' | transloco | capitalize}}"
                    class="grow" />
            </label>
        </div>
        <div class="w-full p-2">
            <div class="label">
                <span class="label-text">
                    {{'password' | transloco | capitalize}}
                </span>
                <a href="#" class="label-text-alt text-primary font-semibold">
                    {{'forgot password' | transloco | capitalize}}
                </a>
            </div>
            <label class="w-full input input-bordered flex items-center gap-2">
                <ion-icon name="key"></ion-icon>
                <input formControlName="password" type="password" placeholder="{{'password' | transloco | capitalize}}"
                    class="grow" />
            </label>
        </div>

        <div class="w-full p-2">
            <label class="label cursor-pointer">
                <span class="label-text">
                    {{'remember me' | transloco| capitalize}}
                </span>
                <input formControlName="rememberMe" type="checkbox" checked="checked" class="checkbox" />
            </label>
        </div>
    </form>
    <div class="flex flex-col w-full px-2 py-4 gap-2">
        <button (click)="signIn()" class="btn btn-primary w-full">
            {{'sign in' | transloco | capitalize}}
        </button>
    </div>
</ion-content>