<ion-header>
    <div class="navbar bg-primary">
        @if (!onSearch) {
        <div class="navbar-start">
            <ion-buttons>
                <ion-back-button class="animate-fade-up animate-duration-300"></ion-back-button>
            </ion-buttons>
        </div>
        }
        @if (onSearch) {
        <div class="w-full">
            <ion-buttons>
                <ion-button (click)="onSearch = false;" class="animate-fade-up animate-duration-300">
                    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
            <label class="input input-bordered flex items-center gap-2 w-full animate-fade-left animate-duration-300">
                <input type="text" class="grow" placeholder="{{'search' | transloco | capitalize}}" />
                <ion-icon name="search"></ion-icon>
            </label>
        </div>
        }
        @if (!onSearch) {
        <div class="navbar-end">
            <ion-buttons>
                <ion-button (click)="onSearch = true;" class="animate-fade-up animate-duration-300">
                    <ion-icon name="search" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button class="indicator  animate-fade-up animate-duration-300"
                    [routerLink]="['/apps','film','notification']" routerDirection="forward">
                    <ion-icon name="notifications" slot="icon-only">
                    </ion-icon>
                    <span class="indicator-item badge badge-secondary font-semibold">
                        {{notifications.length}}
                    </span>
                </ion-button>

            </ion-buttons>
        </div>
        }
    </div>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>