<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="animate-fade-up animate-duration-300"></ion-back-button>
        </ion-buttons>

        @if (onSearch) {
        <ion-searchbar [autofocus]="true" cancelButtonIcon="close" showCancelButton="always"
            (ionCancel)="onSearch = false;" class="animate-fade-left animate-duration-300">
        </ion-searchbar>
        }

        @if (!onSearch) {
        <ion-buttons slot="end">
            <ion-button (click)="onSearch = true;" class="animate-fade-up animate-duration-300">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button class="indicator animate-fade-up animate-duration-300"
                [routerLink]="['/apps','film','notification']" routerDirection="forward">
                <ion-icon name="notifications" slot="icon-only">
                </ion-icon>
                <span class="indicator-item badge badge-secondary">
                    {{notifications.length}}
                </span>
            </ion-button>
        </ion-buttons>
        }
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>