<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" routerDirection="backward" class="btn btn-circle btn-ghost">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        <div class=" navbar-end">

        </div>
    </div>
</ion-header>

<ion-content class="ion-padding">
    <div class="flex flex-col gap-4">
        <div class="grid auto-cols-max grid-flow-col gap-5 text-center justify-center">
            <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
                <span class="countdown font-mono text-5xl">
                    <span style="--value:15;"></span>
                </span>
                days
            </div>
            <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
                <span class="countdown font-mono text-5xl">
                    <span style="--value:10;"></span>
                </span>
                hours
            </div>
            <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
                <span class="countdown font-mono text-5xl">
                    <span style="--value:24;"></span>
                </span>
                min
            </div>
            <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
                <span class="countdown font-mono text-5xl">
                    <span style="--value:${counter};"></span>
                </span>
                sec
            </div>
        </div>

        <div class="stats bg-primary text-primary-content">
            <div class="stat">
                <div class="stat-title">Account balance</div>
                <div class="stat-value">$89,400</div>
                <div class="stat-actions">
                    <button class="btn btn-sm btn-success">Add funds</button>
                </div>
            </div>

            <div class="stat">
                <div class="stat-title">Current balance</div>
                <div class="stat-value">$89,400</div>
                <div class="stat-actions">
                    <button class="btn btn-sm">Withdrawal</button>
                    <button class="ml-2 btn btn-sm">Deposit</button>
                </div>
            </div>
        </div>
        <div class="stats stats-horizontal">
            <div class="stat">
                <div class="stat-title">Downloads</div>
                <div class="stat-value">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
            </div>

            <div class="stat">
                <div class="stat-title">New Users</div>
                <div class="stat-value">4,200</div>
                <div class="stat-desc">↗︎ 400 (22%)</div>
            </div>

            <div class="stat">
                <div class="stat-title">New Registers</div>
                <div class="stat-value">1,200</div>
                <div class="stat-desc">↘︎ 90 (14%)</div>
            </div>
        </div>

        <div class="diff aspect-[16/9] stats">
            <div class="diff-item-1">
                <div class="bg-primary text-primary-content grid place-content-center text-9xl font-black">
                    DAISY
                </div>
            </div>
            <div class="diff-item-2">
                <div class="bg-base-200 grid place-content-center text-9xl font-black">DAISY</div>
            </div>
            <div class="diff-resizer"></div>
        </div>
    </div>
</ion-content>