<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" routerDirection="backward"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        <div class=" navbar-end">

        </div>
    </div>
</ion-header>

<ion-content class="ion-padding">
    <div class="flex flex-col gap-4">
        <div class="stats bg-primary text-primary-content">
            <div class="stat">
                <div class="stat-title text-primary-content">Account balance</div>
                <div class="stat-value">$89,400</div>
                <div class="stat-actions">
                    <button class="btn btn-sm btn-success">Add funds</button>
                </div>
            </div>

            <div class="stat">
                <div class="stat-title text-primary-content">Current balance</div>
                <div class="stat-value">$89,400</div>
                <div class="stat-actions">
                    <button class="btn btn-sm">Withdrawal</button>
                    <button class="ml-2 btn btn-sm">Deposit</button>
                </div>
            </div>
        </div>
        <div class="stats stats-horizontal">
            <div class="stat">
                <div class="stat-title">Downloads</div>
                <div class="stat-value">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
            </div>

            <div class="stat">
                <div class="stat-title">New Users</div>
                <div class="stat-value">4,200</div>
                <div class="stat-desc">↗︎ 400 (22%)</div>
            </div>

            <div class="stat">
                <div class="stat-title">New Registers</div>
                <div class="stat-value">1,200</div>
                <div class="stat-desc">↘︎ 90 (14%)</div>
            </div>
        </div>
    </div>
</ion-content>