<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'change password' | transloco | capitalize}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="changePassword()" fill="clear">
                {{'confirm' | transloco | capitalize}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <form [formGroup]="form">
            <ion-item>
                <div class="grid grid-cols-12 items-center w-full">
                    <ion-label class="col-span-5">
                        {{'current password' | transloco | capitalize}}
                    </ion-label>
                    <ion-input formControlName="currentPassword" type="password"
                        placeholder="{{'current password' | transloco | capitalize}}" class="col-span-7">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    </ion-input>
                </div>
            </ion-item>

            <ion-item>
                <div class="grid grid-cols-12 items-center w-full">
                    <ion-label class="col-span-5">
                        {{'new password' | transloco | capitalize}}
                    </ion-label>
                    <ion-input formControlName="newPassword" type="password"
                        placeholder="{{'new password' | transloco | capitalize}}" class="col-span-7">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
                </div>
            </ion-item>

            <ion-item>
                <div class="grid grid-cols-12 items-center w-full">
                    <ion-label class="col-span-5">
                        {{'confirm new password' | transloco | capitalize}}
                    </ion-label>
                    <ion-input formControlName="confirmNewPassword" type="password"
                        placeholder=" {{'confirm new password' | transloco | capitalize}}" class="col-span-7">
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
                </div>
            </ion-item>
        </form>
    </ion-list>
</ion-content>