<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start">
            <ion-buttons slot="start" class="animate-fade-up animate-duration-300">
                <ion-button [routerLink]="['../']" routerDirection="backward">
                    <ion-icon name="arrow-back-sharp" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
        <div class="navbar-center">
            <ion-title>
                {{'change password' | transloco | capitalize}}
            </ion-title>
        </div>
        <div class="navbar-end">
            <ion-buttons slot="end" class="animate-fade-up animate-duration-300">
                <ion-button (click)="changePassword()" fill="clear">
                    {{'confirm' | transloco | capitalize}}
                </ion-button>
            </ion-buttons>
        </div>
    </div>
</ion-header>
<ion-content>
    <ion-list>
        <form [formGroup]="form">
            <ion-item lines="none">
                <ion-input formControlName="currentPassword" type="password"
                    label="{{'current password' | transloco | capitalize}}" labelPlacement="stacked"
                    placeholder="{{'current password' | transloco | capitalize}}">
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-input formControlName="newPassword" type="password"
                    label="{{'new password' | transloco | capitalize}}" labelPlacement="stacked"
                    placeholder="{{'new password' | transloco | capitalize}}">
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-input formControlName="confirmNewPassword" type="password"
                    label="{{'confirm new password' | transloco | capitalize}}" labelPlacement="stacked"
                    placeholder=" {{'confirm new password' | transloco | capitalize}}">
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
            </ion-item>
        </form>
    </ion-list>
</ion-content>