<ion-header>
    <div class="navbar bg-primary">
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" routerDirection="backward"
                class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        <div class="navbar-center">
            <ion-title class="text-primary-content">
                {{'change password' | transloco | capitalize}}
            </ion-title>
        </div>
        <div class="navbar-end animate-fade-up animate-duration-300">
            <button (click)="changePassword()" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="checkmark" size="large"></ion-icon>
            </button>
        </div>
    </div>
</ion-header>
<ion-content>
    <form [formGroup]="form">
        <ion-item lines="none">
            <ion-input formControlName="currentPassword" type="password"
                label="{{'current password' | transloco | capitalize}}" labelPlacement="stacked"
                placeholder="{{'current password' | transloco | capitalize}}">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-input formControlName="newPassword" type="password" label="{{'new password' | transloco | capitalize}}"
                labelPlacement="stacked" placeholder="{{'new password' | transloco | capitalize}}">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-input formControlName="confirmNewPassword" type="password"
                label="{{'confirm new password' | transloco | capitalize}}" labelPlacement="stacked"
                placeholder=" {{'confirm new password' | transloco | capitalize}}">
                <ion-input-password-toggle slot="end">

                </ion-input-password-toggle>
            </ion-input>
        </ion-item>
    </form>
</ion-content>