<ion-content>
    <div class="grid grid-cols-2 md:flex md:flex-wrap">
        @if (apps) {
        @for (app of apps; track $index) {
        <ion-card [routerLink]="[app.link]" routerDirection="forward" class="hover:cursor-pointer">
            <ion-card-header>
                <div class="flex items-center gap-2">
                    <ion-icon name="{{app.icon}}"></ion-icon>
                    <div class="text-xl font-semibold truncate">
                        {{ app.title | transloco | capitalize}}
                    </div>
                </div>
                @if (app.subtitle) {
                <div class="text-sm truncate">
                    {{ app.subtitle | transloco | capitalize}}
                </div>
                }
            </ion-card-header>
        </ion-card>
        }
        }
    </div>
</ion-content>