<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        @if(onSearch){
        <ion-searchbar (ionCancel)="onSearch = false;" showCancelButton="always" cancelButtonIcon="close" placeholder="{{'search' | transloco | capitalize}}"></ion-searchbar>
        }
        @if(!onSearch){
        <ion-buttons slot="end">
            <ion-button (click)="onSearch = true;">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
            <ion-button id="click-trigger">
                <ion-icon slot="icon-only" name="filter"></ion-icon>
            </ion-button>
            <ion-popover trigger="click-trigger" triggerAction="click">
                <ng-template>
                    <ion-content>
                        <ion-item [routerLink]="['./', 'all']" routerDirection="forward">
                            <ion-label>
                                {{'all' | transloco | capitalize}}
                            </ion-label>
                        </ion-item>
                        @if (categories) {
                        @for (category of categories; track $index) {
                        <ion-item [routerLink]="['./', category.slug]" routerDirection="forward">
                            <ion-label>
                                {{category.title | transloco | capitalize}}
                            </ion-label>
                        </ion-item>
                        }
                        }
                    </ion-content>
                </ng-template>
            </ion-popover>
        </ion-buttons>
        }
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>