<ion-header>
    <div class="navbar bg-primary">
        @if (!onSearch) {
        <div class="navbar-start animate-fade-up animate-duration-300">
            <button [routerLink]="['../']" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
        </div>
        }
        @if (onSearch) {
        <div class="w-full">
            <button (click)="onSearch = false;" class="btn btn-circle btn-ghost text-primary-content animate-fade-up animate-duration-300">
                <ion-icon name="arrow-back" size="large"></ion-icon>
            </button>
            <label class="input input-bordered flex items-center gap-2 w-full animate-fade-left animate-duration-300">
                <input type="text" class="grow" placeholder="{{'search' | transloco | capitalize}}" />
                <ion-icon name="search"></ion-icon>
            </label>
        </div>
        }
        @if(!onSearch){
        <div class="navbar-end animate-fade-up animate-duration-300">
            <button (click)="onSearch = true;" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon size="large" name="search"></ion-icon>
            </button>
            <button id="click-trigger" class="btn btn-circle btn-ghost text-primary-content">
                <ion-icon size="large" name="filter"></ion-icon>
            </button>
            <ion-popover trigger="click-trigger" triggerAction="click">
                <ng-template>
                    <ion-content>
                        <ion-item [routerLink]="['./', 'all']" routerDirection="forward">
                            <ion-label>
                                {{'all' | transloco | capitalize}}
                            </ion-label>
                        </ion-item>
                        @if (categories) {
                        @for (category of categories; track $index) {
                        <ion-item [routerLink]="['./', category.slug]" routerDirection="forward">
                            <ion-label>
                                {{category.title | transloco | capitalize}}
                            </ion-label>
                        </ion-item>
                        }
                        }
                    </ion-content>
                </ng-template>
            </ion-popover>
        </div>
        }
    </div>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>